.form1{
    display: block;
    margin-left: 200px;
    margin-top: 20px;
}
.form2{
    display: none;
    margin-left: 200px;
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}
.check_q{
    display: flex;
    flex-direction: row;
}
.forms{
    display: flex;
    flex-direction: column;
    white-space: 10px;
    font-size: 20px;
    border-top: 5px black solid;
}
::placeholder {
    color: black;
}
h5{
    color: rgb(44, 0, 0);
    width: 600px;
    font-size: 50px;
    margin: 10px;
    margin-left: 200px;

}
#input1{
    background-color: rgb(255, 10, 10);
    color: black;
    width: 500px;
    height: 30px;
    font-size: large;
    display: flex;
    flex-direction: column;
}
#input2{
    background-color: rgb(255, 10, 10);
    color: black;
    width: 35px;
    height: 25px;
    font-size: small;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
#input3{
    background-color: rgb(255, 10, 10);
    color: black;
    width: 100px;
    height: 25px;
    font-size: small;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
#check{
    background-color: rgb(255, 10, 10);
    height: 25px;
    display: flex;
    flex-direction: row;
}
textarea{
    background-color: rgb(255, 10, 10);
    color: black;
    width: 500px;
    height: 100px;
    font-size: large;
    display: flex;
    flex-direction: column;
}
.submit{
    background-color: rgb(255, 10, 10);
    color: black;
    width: 70px;
    height: 25px;
    font-size: 15px;
    cursor: pointer;
}
#myButton1{
    background-color: rgb(255, 10, 10);
    color: black;
    width: 50px;
    height: 25px;
    font-size: 15px;
    margin: 10px;
    margin-left: 200px;
    cursor: pointer;
}
@media  only screen and (max-width: 900px) {
    form{
        justify-content: center;
        margin-left: 10px;
    }    
    #myButton1{
        justify-content: center;
        margin-left: 10px;
    }    
}