body{
    background: linear-gradient(lightgrey, rgb(134, 0, 31));
    background-size: 100% 300%;
}
.heading{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}
.button{
    display: flex;
    justify-content: flex-end;
}
.order{
    background-color: rgb(134, 0, 31);
    font-size: larger;
    font-weight: 600;
    height: 25px;
    border-radius: 10px;
}
.logo{
    width: 25%;
    height: 100%;
}
.heads{
    display: flex;
    flex-direction: row;
}
h1{
    font-size: 6vw;
    color: rgb(134, 0, 31);
    margin: 0%;
}
.icons{
    
}
i{
    margin: 2px;
}