.jamesimg{
    width: 300px;
    margin-right: 10px;
    margin-top: 50px;
}
.jonimg{
    width: 300px;
    margin-right: 10px;
    margin-top: 50px;

}
.meet{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 40px;
    margin-left: 100px;
}
h6{
    font-size: x-large;
    font-weight: 600;
}
p{
    font-size: larger;
}
