.ports{
    display: grid;
    grid-template-columns: 42% 42%;
    grid-template-rows: 150px 500px 500px 500px;
    grid-auto-flow: column;
    justify-content: center;
}
.portimg{
    width: 35vw;
}
.ports > h2{
    display: flex;
    justify-content: flex-start;
    font-size: 3vw;
    font-weight: 600;
}
#ports > h2{
    display: flex;
    justify-content: flex-start;
}
