.ports{
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 10vw 35vw 35vw 35vw;
    grid-auto-flow: column;
    justify-content: center;
    margin-left: 25%;
}
.portimg{
    width: 30vw;
}
.ports > h2{
    display: flex;
    justify-content: flex-start;
    font-size: 3vw;
    font-weight: 600;
}
.ports2 > h2{
    display: flex;
    justify-content: flex-start;
    font-size: 3vw;
    font-weight: 600;
}
#ports > h2{
    display: flex;
    justify-content: flex-start;
    font-size: 2vw;
}
.ports2{
    margin-left: 0%;
}